<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}">
  <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
  <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
  <link rel="stylesheet" href="/css/home.css">
  <title>会員専用ページ</title>
</head>

<body>
  <div class="container">
  <h1 class="text-white">ログインに成功しました</h1>
  <br>
  <div sec:authorize="hasRole('TEACHER')">
    <a th:href="@{/teacher/home}">教員ページへ</a>
  </div>
  <div th:unless="${#authorization.expression('hasRole(''TEACHER'')')}">
    <form th:method="POST" th:action="@{/student/home}">
      <input class="btn btn-primary" type="submit" th:value="生徒ページへ">
    </form>
  </div>
  <br>
  <div>
    <a class="btn btn-primary" th:href="@{/logout}">ログアウト</a>
  </div>
  </div>
</body>

</html>