  
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ログイン</title>
</head>

<body>
  <h2>ログイン</h2>
  <div th:if="${param.error}">
    <small>ユーザ名またはパスワードが正しくありません</small>
  </div>
  <form th:action="@{/login}" th:method="post" novalidate>
    <div>
      <label for="username">ユーザー名：</label>
      <input type="text" name="username">
    </div>
    <div>
      <label for="username">パスワード：</label>
      <input type="password" name="password">
    </div>
    <button> ログイン</button>
  </form>
  <a th:href="@{/register}">新規登録へ</a>
</body>

</html>