<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}">
  <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
  <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
  <title>Document</title>
  <title>会員専用ページ</title>
</head>

<body>
  <h1>ログインしてください</h1>
  <!-- ユーザIDとEMail -->
  <br>
  <div>
    <a th:href="@{/login}">ログインページへ</a>
  </div>
</body>

</html>