<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <link rel="stylesheet" href="/css/home.css">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}">
  <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
  <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
  <title>会員専用ページ</title>
</head>

<body>
  <br><br><br><br><br><br><br><br>
  <div class="container ">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h1 class="center text-white col">ログインしてください</h1>
        <!-- ユーザIDとEMail -->
        <br><br>
        <div>
          <a class="btn btn-primary" th:href="@{/login}">ログインページへ</a>
        </div>
      </div>
    </div>
  </div>
</body>

</html>