<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>登録</title>
</head>

<body>
  <h2>ユーザー登録</h2>

  <form th:action="@{/register}" th:method="post" th:object="${user}" novalidate>
    <div>
      <label for="username">ユーザー名：</label>
      <input type="text" th:field="*{username}">
    </div>
    <div>
      <label for="username">パスワード：</label>
      <input type="password" th:field="*{password}">
    </div>
    <div>
      <label for="email">Eメール：</label>
      <input type="email" th:field="*{email}">
    </div>
    <div>
      <label for="teacher">教員：</label>
      <input type="checkbox" th:field="*{teacher}">
    </div>
    <button>登録</button>
  </form>
</body>

</html>