<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <!-- <th:block th:insert="common/base :: header"></th:block> -->
  <th:block th:fragment="header">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}">
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <title>Student</title>
    <link rel="stylesheet" href="/css/student.css">
  </th:block>
</head>

<body>
    <div class="container">
      <br><br>
      <h2 class="p-3 mb-2 bg-dark text-white">生徒ページ</h2>
      <br><br><br><br>
      <!-- Questionの出題形式の表示 -->
      <div>
          <a class="btn btn-primary" th:href="@{/student/list}"><i class="fas fa-list"></i>問題一覧</a>
          <a class="btn btn-primary" th:href="@{/student/question/{id}(id=${nextId})}"><i class="fas fa-random"></i>ランダムに出題</a>
      </div><br>
      <div sec:authorize="hasRole('TEACHER')">
        <a class="btn btn-primary" th:href="@{/teacher/home}"><i class="fas fa-chalkboard-teacher"></i>教員ページへ</a>
      </div>
      <br>
        <div>
          <a class="btn btn-primary" th:href="@{/logout}"><i class="fas fa-sign-out-alt"></i>ログアウト</a>
        </div>
    
      <!--Main Navigation-->

    </div>

</body>

</html>