<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <!-- <th:block th:insert="common/base :: header"></th:block> -->
  <th:block th:fragment="header">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}">
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <title>Student</title>
    <link rel="stylesheet" href="/css/student.css">
  </th:block>
</head>

<body>
    <div class="container">
      <br><br>
      <h2 class="p-3 mb-2 bg-dark text-white">生徒ページ</h2>
      <br><br>
      <!-- Questionの出題形式の表示 -->
      <ul>
        <li class="list-unstyled">
          <a class="btn btn-primary" th:href="@{/student/list}">問題一覧</a>
        </li>
        <br>
        <li class="list-unstyled">
          <a class="btn btn-primary" th:href="@{/student/question/{id}(id=${nextId})}">ランダムに出題</a>
        </li>
        <br>
        <div>
          <a class="btn btn-primary" th:href="@{/logout}">ログアウト</a>
        </div>
      </ul>
      <!--Main Navigation-->

    </div>

</body>

</html>