<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <!-- <th:block th:insert="common/base :: header"></th:block> -->
  <th:block th:fragment="header">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}">
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <title>Document</title>
  </th:block>
</head>

<body>
  <th:block th:fragment="sidebar">
    <!--Main Navigation-->
    <div class="container">
      <br><br>
      <h3>質問一覧</h3>
      <table class="table">
          <thead>
              <tr>
                  <th>Id</th>
                  <th>質問のタイトル</th>
                  <th></th>
              </tr>
          </thead>
          <tbody>
              <tr th:each="l : ${list}">
                  <td>[[${l.id}]]</td>
                  <td>[[${l.questionTitle}]]</td>
                  <td><a th:href="@{/student/question/{id}(id=${l.id})}">問題を解く</a></td>
              </tr>
          </tbody>
      </table>


    </div>
  </th:block>
  <!--Main layout-->
  <main style="margin-top: 58px;">
    <div class="container pt-4"></div>
  </main>
  <!--Main layout-->
  </div>


</body>

</html>