<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <!-- <th:block th:insert="common/base :: header"></th:block> -->
  <th:block th:fragment="header">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}">
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <title>Student</title>
    <link rel="stylesheet" href="/css/student.css">
  </th:block>
</head>

<body>
    <div class="container">
      <br><br>
      <h3 class="p-3 mb-2 bg-dark text-white">問題一覧</h3>
      <table class="table table-striped">
        <thead>
          <tr>
            <th class="text-white">Id</th>
            <th class="text-white">問題のタイトル</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="l : ${list}">
            <td class="text-white">[[${l.id}]]</td>
            <td class="text-white">[[${l.questionTitle}]]</td>
            <td><a th:href="@{/student/question/{id}(id=${l.id})}" class="texr-white btn btn-primary"><i class="fas fa-pencil-alt"></i>問題を解く</a></td>
          </tr>
        </tbody>
      </table>
      <br><br>
      <form th:method="POST" th:action="@{/student/home}">
        <button type="submit" class="btn btn-primary"><i class="fas fa-home"></i>ホームに戻る</button>
      </form><br>

    </div>
</body>

</html>