<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <!-- <th:block th:insert="common/base :: header"></th:block> -->
  <th:block th:fragment="header">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}">
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <title>Student</title>
    <link rel="stylesheet" href="/css/student.css">
    <link rel="stylesheet" href="/css/studentheader.css">
  </th:block>
</head>

<body>
  <header>
    <h1>
      <form th:method="POST" th:action="@{/student/home}">
        <button type="submit" class="btn btn-lg text-white"><i class="fas fa-home"></i>生徒ページ</button>
      </form><br>
    </h1>
    <nav class="student-nav">
      <ul class="hd">
        <li class="hds list-unstyled"><a class="lin" th:href="@{/logout}"><i class="fas fa-sign-out-alt"></i>ログアウト</a></li>
      </ul>
    </nav>
  </header>
  <div class="container">
    <br><br><br><br>
    <!-- Questionの出題形式の表示 -->
    <h3 class="p-3 mb-2 bg-success text-white" th:unless="${answer}" th:text="${question.questionTitle}"></h3>
    <br>
    <div th:unless="${answer}">
      <div class="p-3 mb-2 bg-info text-white" th:text="${question.questionText}"></div>
      <br><br>
      <form th:method="patch" th:action="@{/student/question/{id}(id=${question.id})}" novalidate>
        <ul th:each="choice : ${question.choices}" class="list-unstyled">
          <li>
            <button class="btn btn-danger" type="submit" th:text="${choice.choiceText}" name="choice"
              th:value="${choice.id}"></button>
          </li>
        </ul>
      </form>
    </div>
    <!--Main Navigation-->
    <br><br>
    <div th:if="${correct}" class="p-3 mb-2 bg-info text-white"><i class="fas fa-thumbs-up"></i>正解！</div>
    <div th:if="${answer}" th:unless="${correct}" class="p-3 mb-2 bg-danger text-white"><i class="fas fa-ban"></i>不正解
    </div>
    <br><br>
    <h4 th:if="${answer}" class="text-white">解説：</h4>
    <div th:if="${answer}" class="p-3 mb-2 bg-success text-white">[[${question.explanation}]]</div>
    <br>
    <div th:if=${answer} th:unless="${correct}">
      <a class="lin" th:href="@{/student/question/{id}(id=${question.id})}"><i class="fas fa-redo-alt"></i>もう一度解きなおす</a>
    </div>
    <br>
    <div th:if=${answer}>

    </div>
    <br>
    <form th:method="POST" th:action="@{/student/home}">
      <button type="submit" class="btn btn-primary"><i class="fas fa-home"></i>ホームに戻る</button>
    </form><br>
    <div th:if=${answer}>
      <a class="btn btn-primary" th:href="@{/student/list}"><i class="fas fa-list"></i>問題一覧に戻る</a><br><br>
      <a class="btn btn-primary" th:href="@{/student/question/{id}(id=${nextId})}"><i class="fas fa-arrow-circle-right"></i>次へ</a>
    </div>
  </div>
</body>

</html>