<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <!-- <th:block th:insert="common/base :: header"></th:block> -->
  <th:block th:fragment="header">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}">
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <title>Document</title>
  </th:block>
</head>

<body>
  <th:block th:fragment="sidebar">
    <!--Main Navigation-->
    <div class="container">
      <br><br>
      <form th:method="patch" th:action="@{/teacher/question/{id}/edit/(id=${question.id})}"  novalidate>
        <div>
            <label for="questionTitle">問題のタイトル：</label>
            <input type="text" th:field="${question.questionTitle}">
        </div><br>
        <div>
            <label for="questionText">問題の本文：</label>
            <textarea name="questionText" th:field="${question.questionText}"></textarea>
        </div><br>
        <div>
            <label for="choiceText1">問題の選択肢①：</label>
            <input type="text" th:field="${question.choiceText1}">
        </div><br>
        <div>
            <label for="choiceText2">問題の選択肢②：</label>
            <input type="text" th:field="${question.choiceText2}">
        </div><br>
        <div>
            <label for="choiceText3">問題の選択肢③：</label>
            <input type="text" th:field="${question.choiceText3}">
        </div><br>
        <div>
            <label for="choiceText4">問題の選択肢④：</label>
            <input type="text" th:field="${question.choiceText4}">
        </div><br>
        <div>
        <div>
            <label for="correct">問題の正誤①：</label>
            <input type="checkbox" th:field="${question.correct1}">
            <br>
            <label for="correct">問題の正誤②：</label>
            <input type="checkbox" th:field="${question.correct2}">
            <br>
            <label for="correct">問題の正誤③：</label>
            <input type="checkbox" th:field="${question.correct3}">
            <br>
            <label for="correct">問題の正誤④：</label>
            <input type="checkbox" th:field="${question.correct4}">
        </div><br>

        <div>
            <label for="explanation">問題の解説：</label>
            <textarea name="explanation" th:field="${question.explanation}"></textarea>
        </div><br>
        <input type="submit" value="save">

      </form>
    </div>
  </th:block>
  <!--Main layout-->
  <main style="margin-top: 58px;">
    <div class="container pt-4"></div>
  </main>
  <!--Main layout-->
  </div>


</body>

</html>