<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <!-- <th:block th:insert="common/base :: header"></th:block> -->
  <th:block th:fragment="header">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}">
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <title>Student</title>
    <link rel="stylesheet" href="/css/teacher.css">
  </th:block>
</head>

<body>
    <div class="container">
      <br><br>
      <h1 class="text-white">教員ページ</h1>
      <br><br>
      <!-- Questionの出題形式の表示 -->
      <div> 
        <!-- <li th:href="@{/student/question/{id}(id=${question.id})}">ランダムな出題</li> -->
        <a class="btn btn-primary" th:href="@{/teacher/new}">質問の作成</a>  
        <a class="btn btn-primary" th:href="@{/teacher/list}">質問一覧</a>
        <!-- <li><a th:href="@{/teacher/newcat}">カテゴリーの作成</a></li> -->
      </div>
      <br>
      <div>
        <a class="btn btn-primary" th:href="@{/logout}">ログアウト</a>
      </div>
      <!--Main Navigation-->
      
    </div>
</body>

</html>