<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <!-- <th:block th:insert="common/base :: header"></th:block> -->
  <th:block th:fragment="header">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}">
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <title>Document</title>
  </th:block>
</head>

<body>
  <th:block th:fragment="sidebar">
    <!--Main Navigation-->
    <div class="container">
      <br><br>
      <h1>先生ページ</h1>
      <br><br>
      <!-- Questionの出題形式の表示 -->
      <ul> 
        <!-- <li th:href="@{/student/question/{id}(id=${question.id})}">ランダムな出題</li> -->
        <li><a th:href="@{/teacher/new}">質問の作成</a></li>
        <li><a th:href="@{/teacher/list}">質問一覧</a></li>
        <!-- <li><a th:href="@{/teacher/newcat}">カテゴリーの作成</a></li> -->
      </ul>
      <br>
      <div>
        <a th:href="@{/logout}">ログアウト</a>
      </div>
      <!--Main Navigation-->
      
    </div>
  </th:block>
  <!--Main layout-->
  <main style="margin-top: 58px;">
    <div class="container pt-4"></div>
  </main>
  <!--Main layout-->
  </div>


</body>

</html>