<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <!-- <th:block th:insert="common/base :: header"></th:block> -->
  <th:block th:fragment="header">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}">
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <title>Teacher</title>
    <link rel="stylesheet" href="/css/teacher.css">
    <link rel="stylesheet" href="/css/teacherheader.css">
  </th:block>
</head>

<body>
  <header>
    <h1>
      <form th:method="GET" th:action="@{/teacher/home}">
        <button type="submit" class="btn btn-lg text-white"><i class="fas fa-home"></i>教員ページ</button>
      </form><br>
    </h1>
    <nav class="student-nav">
      <ul class="hd list-unstyled">
        <li class="hds list-unstyled"><a class="lin" th:href="@{/logout}"><i class="fas fa-sign-out-alt"></i>ログアウト</a></li>
      </ul>
    </nav>
  </header>
    <div class="container">
      <br><br><br><br>
      <h2 class="p-3 mb-2 bg-dark text-white">教員ページ</h2>
      <br><br>
      <!-- Questionの出題形式の表示 -->
      <div th:if="${success}" class="alert alert-success">[[${success}]]</div>
      <br><br>
      <div> 
        <!-- <li th:href="@{/student/question/{id}(id=${question.id})}">ランダムな出題</li> -->
        <a class="btn btn-primary" th:href="@{/teacher/new}"><i class="fas fa-pen"></i>問題作成</a>  
        <a class="btn btn-primary" th:href="@{/teacher/list}"><i class="fas fa-list"></i>問題一覧</a>
        <!-- <li><a th:href="@{/teacher/newcat}">カテゴリーの作成</a></li> -->
      </div>
      <br>
      <div>
        <form th:method="POST" th:action="@{/student/home}">
          <button class="btn btn-primary" type="submit"><i class="fas fa-user-graduate"></i>生徒ページへ</button>
        </form>
      </div>
      <br>
      <div>
        <a class="btn btn-primary" th:href="@{/logout}"><i class="fas fa-sign-out-alt"></i>ログアウト</a>
      </div>
      <!--Main Navigation-->
      
    </div>
</body>

</html>