<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <!-- <th:block th:insert="common/base :: header"></th:block> -->
  <th:block th:fragment="header">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}">
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <title>Teacher</title>
    <link rel="stylesheet" href="/css/teacher.css">
    <link rel="stylesheet" href="/css/teacherheader.css">
  </th:block>
</head>

<body>
  <header>
    <h1>
      <form th:method="GET" th:action="@{/teacher/home}">
        <button type="submit" class="btn btn-lg text-white"><i class="fas fa-home"></i>教員ページ</button>
      </form><br>
    </h1>
    <nav class="student-nav">
      <ul class="hd list-unstyled">
        <li class="hds list-unstyled"><a class="lin" th:href="@{/logout}"><i class="fas fa-sign-out-alt"></i>ログアウト</a></li>
      </ul>
    </nav>
  </header>
    <div class="container main2">
      <br><br><br><br><br>
      <h3 class="text-white">問題一覧</h3>
      <table class="table table-striped">
          <thead>
              <tr>
                  <th class="text-white">Id</th>
                  <th class="text-warning">問題のタイトル</th>
                  <th class="text-primary">問題の詳細</th>
                  <!-- <th>質問の編集</th>
                  <th>質問の削除</th> -->
              </tr>
          </thead>
          <tbody>
              <tr th:each="l : ${list}">
                  <td class="text-white">[[${l.id}]]</td>
                  <td class="text-warning"> [[${l.questionTitle}]]</td>
                  <td class="text-white "><a class="btn btn-primary" th:href="@{/teacher/question/{id}(id=${l.id})}">詳細</a></td>
                  <!-- <td><a th:href="@{/teacher/question/{id}/edit(id=${l.id})}">編集</a></td>
                  <td><a th:href="@{/}">削除</a></td> -->
              </tr>
          </tbody>
      </table>
      <br><br>
      <a class="btn btn-primary" th:href="@{/teacher/home}"><i class="fas fa-home"></i>ホームに戻る</a>
    </div><br><br>
</body>

</html>